@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cacher la barre de défilement sur tous les éléments */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Cinematografica';
  src: url('/fonts/CINEMATOGRAFICA-REGULAR-TRIAL.otf');
}

@font-face {
  font-family: 'Kiera';
  src: url('/fonts/KIERA-DISPLAY.TTF');
  letter-spacing: 0.05em;
}

@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Poppins';
  src: url('/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face{
  font-family: 'Avenir';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Yepoda';
  src: url('/fonts/Yepoda-Regular.otf');
}

.text-stroke {
  /* Initialisation de la variable */
  --progress: 0;
  /* Le texte reste visible */
  color: black;
  /* L'épaisseur du contour évolue avec le scroll */
  -webkit-text-stroke-width: calc(2px + 3px * var(--progress));
  -webkit-text-stroke-color: black;
}



