@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  overflow-x: hidden;
  

}

@font-face {
  font-family: 'Cinematografica';
  src: url('/fonts/CINEMATOGRAFICA-REGULAR-TRIAL.otf');
}

@font-face {
  font-family: 'Kiera';
  src: url('/fonts/KIERA-DISPLAY.TTF');
  letter-spacing: 0.05em;
}

@font-face{
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

.text-stroke {
  /* Initialisation de la variable */
  --progress: 0;
  /* Le texte reste visible */
  color: black;
  /* L'épaisseur du contour évolue avec le scroll */
  -webkit-text-stroke-width: calc(2px + 3px * var(--progress));
  -webkit-text-stroke-color: black;
}



